node_modules/
dist/
.vite/

# env files
# .env
# .env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# tooling
coverage/
.eslintcache
.parcel-cache/

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
